
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
	  <div class="carousel-item active" data-bs-interval="19000">
		<video onloadedmetadata="this.muted=true" autoplay loop  preload="auto" class="sp_video d-none d-md-block w-100">
			<source src="assets/video/banner.mp4" class="w-100" type="video/mp4">
		</video>
		<div class="carousel-caption d-none d-md-block">
			<h2>
				Welcome to <br>Al Khaldi Group
			</h2>
		  </div>
	  </div>
	  <div class="carousel-item" data-bs-interval="5000">
		<img src="assets/img/banner/banner-5.jpg" class="d-block w-100" alt="...">
		<div class="carousel-caption d-none d-md-block">
			<h2>
				the new vision of <br>business suntainability
			</h2>
		  </div>
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
  </div>

 