<section class="spotlight">
	<div class="swiper-container spotlight__top" data-custom-autoplay="8000">
		<!-- slider -->
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="spotlight__heading">
					<h2>
						Established in 1972 by <br> Sheikh Mubarak Zaid AwadAl-Khaldi
					</h2>
					<p>
						Al-Khaldi is a Logistic & Operation Management Consultant leader and has been established a solid reputation for fast, reliable and flexible customer service in transportation, full service warehousing and third party logistics.
					</p>
                    <div class="about__one-right-btn">
                        <div>
                            <a class="btn-one" href="#">Discover More<i class="far fa-chevron-double-right"></i></a>
                        </div>
                    </div>
				</div>
				<div class="spotlight__img">
					<video onloadedmetadata="this.muted=true" autoplay loop  preload="auto" class="sp_video d-none d-md-block">
						<source src="assets/video/banner1.mp4" type="video/mp4">
					</video>
					<img class="object-fit d-block d-sm-none" src="assets/video/banner1_mobile.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>