<div class="page__banner" data-background="assets/img/team/team-banner.jpg" style="background-image: url(assets/img/team/team-banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__banner-content">
                    <span>Gallery</span>
                    <ul>
                        <li><a routerLink="/home">Home</a><span>|</span></li>
                        <li>Our gallery</li>
                    </ul>
                    <h1>Showcase</h1>
                </div>
            </div>
        </div>
    </div>
</div>	

    <!-- Portfolio Area Start -->
    <div class="project__one section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 mb-30">
                    <div class="conbix__filter-button">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".corporate">Contract</button>
                        <button data-filter=".finance">Projects</button>
                        <button data-filter=".marketing">Events</button>
                        <button data-filter=".startup">Photos</button>
                    </div>					  
                </div>
            </div>
            <div class="row conbix__filter-active">
                <div class="col-xl-4 col-md-6 mt-30 position-relative-custom">
                    <div class="project__one-item">
                        <img class="img__full" src="assets/img/gallery/1.jpg" alt="">
                        <div class="project__one-item-content">
                            <span>Business Growth</span>
                            <h4><a href="#">Business analytics</a></h4>
                        </div>
                        <div class="project__one-item-icon">
                            <a href="#"><i class="fal fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mt-30 finance position-relative-custom">
                    <div class="project__one-item">
                        <img class="img__full" src="assets/img/gallery/2.jpg" alt="">
                        <div class="project__one-item-content">
                            <span>Business Growth</span>
                            <h4><a href="#">Digital Solutions</a></h4>
                        </div>
                        <div class="project__one-item-icon">
                            <a href="#"><i class="fal fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mt-30 corporate position-relative-custom">
                    <div class="project__one-item">
                        <img class="img__full" src="assets/img/gallery/3.jpg" alt="">
                        <div class="project__one-item-content">
                            <span>Business Growth</span>
                            <h4><a href="#">business strategy</a></h4>
                        </div>
                        <div class="project__one-item-icon">
                            <a href="#"><i class="fal fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mt-30 marketing position-relative-custom">
                    <div class="project__one-item">
                        <img class="img__full" src="assets/img/gallery/4.jpg" alt="">
                        <div class="project__one-item-content">
                            <span>Business Growth</span>
                            <h4><a href="#">Human research</a></h4>
                        </div>
                        <div class="project__one-item-icon">
                            <a href="#"><i class="fal fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mt-30 startup corporate position-relative-custom">
                    <div class="project__one-item">
                        <img class="img__full" src="assets/img/gallery/5.jpg" alt="">
                        <div class="project__one-item-content">
                            <span>Business Growth</span>
                            <h4><a href="#">Business planning</a></h4>
                        </div>
                        <div class="project__one-item-icon">
                            <a href="#"><i class="fal fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mt-30 finance position-relative-custom" style="left: 0; top: 0;">
                    <div class="project__one-item">
                        <img class="img__full" src="assets/img/gallery/6.jpg" alt="">
                        <div class="project__one-item-content">
                            <span>Business Growth</span>
                            <h4><a href="#">audit marketing</a></h4>
                        </div>
                        <div class="project__one-item-icon">
                            <a href="#"><i class="fal fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Area End --> 