<div class="page__banner" data-background="assets/img/team/team-banner.jpg" style="background-image: url(assets/img/team/team-banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__banner-content">
                    <span>Gallery</span>
                    <ul>
                        <li><a routerLink="/home">Home</a><span>|</span></li>
                        <li>Our gallery</li>
                    </ul>
                    <h1>Showcase</h1>
                </div>
            </div>
        </div>
    </div>
</div>	

    <!-- Portfolio Area Start -->
    <div class="project__one section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 mb-30">
                    <div class="conbix__filter-button">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".corporate">Office</button>
                        <button data-filter=".finance">Team</button>
                        <button data-filter=".marketing">Managment</button>
                        <button data-filter=".startup">Photos</button>
                    </div>					  
                </div>
            </div>
            <div class="row conbix__filter-active">
                <div class="col-xl-4 col-md-6 mt-30">
                    <div class="project__one-item">
                        <img class="img__full" src="assets/img/portfolio/project-1.jpg" alt="">
                        <div class="project__one-item-content">
                            <span>Business Growth</span>
                            <h4><a href="project-single.html">Business analytics</a></h4>
                        </div>
                        <div class="project__one-item-icon">
                            <a href="project-single.html"><i class="fal fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mt-30 finance">
                    <div class="project__one-item">
                        <img class="img__full" src="assets/img/portfolio/project-3.jpg" alt="">
                        <div class="project__one-item-content">
                            <span>Business Growth</span>
                            <h4><a href="project-single.html">Digital Solutions</a></h4>
                        </div>
                        <div class="project__one-item-icon">
                            <a href="project-single.html"><i class="fal fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mt-30 corporate">
                    <div class="project__one-item">
                        <img class="img__full" src="assets/img/portfolio/project-4.jpg" alt="">
                        <div class="project__one-item-content">
                            <span>Business Growth</span>
                            <h4><a href="project-single.html">business strategy</a></h4>
                        </div>
                        <div class="project__one-item-icon">
                            <a href="project-single.html"><i class="fal fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mt-30 marketing">
                    <div class="project__one-item">
                        <img class="img__full" src="assets/img/portfolio/project-6.jpg" alt="">
                        <div class="project__one-item-content">
                            <span>Business Growth</span>
                            <h4><a href="project-single.html">Human research</a></h4>
                        </div>
                        <div class="project__one-item-icon">
                            <a href="project-single.html"><i class="fal fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mt-30 startup corporate">
                    <div class="project__one-item">
                        <img class="img__full" src="assets/img/portfolio/project-2.jpg" alt="">
                        <div class="project__one-item-content">
                            <span>Business Growth</span>
                            <h4><a href="project-single.html">Business planning</a></h4>
                        </div>
                        <div class="project__one-item-icon">
                            <a href="project-single.html"><i class="fal fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mt-30 finance">
                    <div class="project__one-item">
                        <img class="img__full" src="assets/img/portfolio/project-8.jpg" alt="">
                        <div class="project__one-item-content">
                            <span>Business Growth</span>
                            <h4><a href="project-single.html">audit marketing</a></h4>
                        </div>
                        <div class="project__one-item-icon">
                            <a href="project-single.html"><i class="fal fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mt-30 startup marketing">
                    <div class="project__one-item">
                        <img class="img__full" src="assets/img/portfolio/project-9.jpg" alt="">
                        <div class="project__one-item-content">
                            <span>Business Growth</span>
                            <h4><a href="project-single.html">swot analysis</a></h4>
                        </div>
                        <div class="project__one-item-icon">
                            <a href="project-single.html"><i class="fal fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mt-30 marketing">
                    <div class="project__one-item">
                        <img class="img__full" src="assets/img/portfolio/project-7.jpg" alt="">
                        <div class="project__one-item-content">
                            <span>Business Growth</span>
                            <h4><a href="project-single.html">Digital Business</a></h4>
                        </div>
                        <div class="project__one-item-icon">
                            <a href="project-single.html"><i class="fal fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mt-30 corporate startup finance">
                    <div class="project__one-item">
                        <img class="img__full" src="assets/img/portfolio/project-5.jpg" alt="">
                        <div class="project__one-item-content">
                            <span>Business Growth</span>
                            <h4><a href="project-single.html">Business Plan</a></h4>
                        </div>
                        <div class="project__one-item-icon">
                            <a href="project-single.html"><i class="fal fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Area End --> 