<div class="page__banner" data-background="assets/img/team/team-banner.jpg" style="background-image: url(assets/img/team/team-banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__banner-content">
                    <span>CONTACT</span>
                    <ul>
                        <li><a routerLink="/home">Home</a><span>|</span></li>
                        <li>Contact Us</li>
                    </ul>
                    <h1>Call BACK</h1>
                </div>
            </div>
        </div>
    </div>
</div>	
    
    <!-- Contact Area Start -->
    <div class="contact__three pb-0 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 lg-mb-30">
                    <div class="contact__three-info">
                        <div class="contact__three-info-icon">
                            <img src="assets/img/icon/call.png" alt="">
                        </div>
                        <div class="contact__three-info-content">
                            <h4>Tell With US</h4>
                            <p><a href="tel:+966 056 805 6140">+966 056 805 6140</a></p>
                            <p><a href="tel:+966 056 805 6140">+966 056 805 6140</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 md-mb-30">
                    <div class="contact__three-info">
                        <div class="contact__three-info-icon">
                            <img src="assets/img/icon/email.png" alt="">
                        </div>
                        <div class="contact__three-info-content">
                            <h4>Quick Email</h4>
                            <p><a href="mailto:info.alkhaldi@gmail.com">info.alkhaldi&#64;gmail.com</a></p>
                            <p><a href="mailto:alkhaldi@gmail.com">alkhaldi&#64;gmail.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="contact__three-info">
                        <div class="contact__three-info-icon">
                            <img src="assets/img/icon/locations.png" alt="">
                        </div>
                        <div class="contact__three-info-content">
                            <h4>Office Location</h4>
                            <p>Dhahran,<br>Saudi Arabia</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- Contact Area End -->
	<!-- Contact Form Area Start -->
    <div class="contact__three section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 lg-mb-30">
                    <div class="contact__three-left mr-40 xl-mr-0">
                        <div class="contact__three-left-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7456527.336730471!2d39.782409820938646!3d24.14076464526896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15e7b33fe7952a41%3A0x5960504bc21ab69b!2sSaudi%20Arabia!5e0!3m2!1sen!2sbh!4v1701530284599!5m2!1sen!2sbh" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="contact__three-righ">
                        <div class="contact__three-right-title">
                            <span class="subtitle-one">Request a call Back</span>
                            <h2 class="mb-30">Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</h2>
                        </div>
                        <div class="contact__three-right-form">
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 mb-30">
                                        <div class="contact__two-right-form-item conbix-contact-item">
											<span class="fal fa-user"></span>
                                            <input type="text" name="name" placeholder="Full Name" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6 md-mb-30">
                                        <div class="contact__two-right-form-item conbix-contact-item">
											<span class="far fa-envelope-open"></span>
                                            <input type="email" name="email" placeholder="Email Address" required="required">											
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="contact__two-right-form-item conbix-contact-item">
											<span class="fal fa-book"></span>
                                            <input type="text" name="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="contact__two-right-form-item conbix-contact-item">
											<span class="far fa-comments"></span>
                                            <textarea name="message" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="contact__two-right-form-item">
                                            <button class="btn-one" type="submit">Submit Message <i class="far fa-chevron-double-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- Contact Form Area End -->