

<div class="services__one section-padding pt-100">

    <div class="container mb-50">
        <div class="col-xl-7 col-lg-8 lg-mb-30">
            <div class="services__one-title lg-t-center">
                <span class="subtitle-one">History</span>
                <h2>OUR timeline</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptas </p>
            </div>
        </div>
    </div>

<div class="slider vertical-slider">
    <div class="slick">
        <div class="item slide slide__1972">
            <div class="overlay-slider"></div>
            <img class="irc_mi" src="assets/img/timeline/1972.jpg"
                alt="Image result for nature images hd">
            <div class="slide__card">
                <p class="slide__description">
                    Established in 1972 by Sheikh Mubarak Zaid AwadAl-Khaldi
                </p>
            </div>
        </div>
        <div class="item slide slide__1975">
            <div class="overlay-slider"></div>
            <img class="irc_mi"
                src="assets/img/timeline/1975.jpg"
                alt="Image result for nature images hd">
            <div class="slide__card">
                <p class="slide__description">Established of Al-Khaldi Logistics Company</p>
            </div>
        </div>
        <div class="item slide slide__1977">
            <div class="overlay-slider"></div>
            <img class="irc_mi" src="assets/img/timeline/1977.jpg"
                alt="Image result for nature images hd">
            <div class="slide__card">
                <p class="slide__description">Established of Fuel Integrated Limited Company</p>
            </div>
        </div>
        <div class="item slide slide__2003">
            <div class="overlay-slider"></div>
            <img class="irc_mi" src="assets/img/timeline/2003.jpg"
                alt="Image result for nature images hd">
            <div class="slide__card">
                <p class="slide__description">Established of Al-Khaldi Building Metairies</p>
            </div>
        </div>
        <div class="item slide slide__2013">
            <div class="overlay-slider"></div>
            <img class="irc_mi" src="assets/img/timeline/2013.jpg"
                alt="Image result for nature images hd">
            <div class="slide__card">
                <p class="slide__description">Established of  Auto Gulf Company</p>
            </div>
        </div>
        <div class="item slide slide__2014">
            <div class="overlay-slider"></div>
            <img class="irc_mi" src="assets/img/timeline/2014.jpg"
                alt="Image result for nature images hd">
            <div class="slide__card">
                <p class="slide__description">Established of Al-Khaldi Real-Estate Company</p>
            </div>
        </div>
        <div class="item slide slide__2016">
            <div class="overlay-slider"></div>
            <img class="irc_mi" src="assets/img/timeline/2016.jpg" alt="Image result for nature images hd">
            <div class="slide__card">
                <p class="slide__description">Established of Saudi Falcon</p>
            </div>
        </div>
        <div class="item slide slide__2017">
            <div class="overlay-slider"></div>
             <img src="assets/img/timeline/2017.jpg" alt="">
            <div class="slide__card">
                <p class="slide__description">
                    Al Khaldi logistics Company signed unprecedented contract with Saudi Aramco for 8 years, it's serving Cargo Huling unit with fleet exceeded 677 mix tools trucks with contract value of 2 Billion Saudi Riyal and it's considered one of largest contracts for Aramco vendors ..
                </p>
            </div>
        </div>
        <div class="item slide slide__2019">
            <div class="overlay-slider"></div>
             <img src="assets/img/timeline/2019.jpg" alt="">
            <div class="slide__card">
                <p class="slide__description">Opining of the Most luxury mall in Al  Hizam Al Zahaby (Patio Mall)</p>
            </div>
        </div>
        <div class="item slide slide__2021">
            <div class="overlay-slider"></div>
             <img src="assets/img/timeline/2021.jpg" alt="">
            <div class="slide__card">
                <p class="slide__description">
                    The opening of Al-Khalidi Tower across the King Abdulaziz Center for World Culture (Ithra) to be the headquarter of the group’s companies
                </p>
            </div>
        </div>
        <div class="item slide slide__2023">
            <div class="overlay-slider"></div>
             <img src="assets/img/timeline/2023.jpg" alt="">
            <div class="slide__card">
                <p class="slide__description">The project of “King Abdullah Cultural Center” development - Dammam, under coverage of Eastern Province Municipality and in a partnership with Al-Khaldi Holding Company. The project is covering area ​​more than 800,000 square meters, with an investment value of more than 400 million riyals, to create an exceptional sea front.</p>
            </div>
        </div>
    </div>
</div>
</div>