

<div class="services__one section-padding pt-100">

        <div class="container mb-50">
            <div class="col-xl-7 col-lg-8 lg-mb-30">
                <div class="services__one-title lg-t-center">
                    <span class="subtitle-one">History</span>
                    <h2>OUR timeline</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptas </p>
                </div>
            </div>
        </div>

    <div class="slider vertical-slider">
        <div class="slick">
            <div class="item slide slide__1999">
                <div class="overlay-slider"></div>
                <img class="irc_mi" src="assets/img/timeline/1.jpg"
                    alt="Image result for nature images hd">
                <div class="slide__card">
                    <p class="slide__description">
                        Established in 1972 by Sheikh Mubarak Zaid AwadAl-Khaldi
                    </p>
                </div>
            </div>
            <div class="item slide slide__2000">
                <div class="overlay-slider"></div>
                <img class="irc_mi"
                    src="assets/img/timeline/2.jpg"
                    alt="Image result for nature images hd">
                <div class="slide__card">
                    <h2 class="slide__title"> Lorem Ipsum Dolor</h2>
                    <p class="slide__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="item slide slide__2003">
                <div class="overlay-slider"></div>
                <img class="irc_mi" src="assets/img/timeline/3.jpg"
                    alt="Image result for nature images hd">
                <div class="slide__card">
                    <h2 class="slide__title"> Lorem Ipsum Dolor</h2>
                    <p class="slide__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="item slide slide__2005">
                <div class="overlay-slider"></div>
                <img class="irc_mi" src="assets/img/timeline/4.jpg"
                    alt="Image result for nature images hd">
                <div class="slide__card">
                    <h2 class="slide__title"> Lorem Ipsum Dolor</h2>
                    <p class="slide__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="item slide slide__2010">
                <div class="overlay-slider"></div>
                <img class="irc_mi" src="assets/img/timeline/5.jpg"
                    alt="Image result for nature images hd">
                <div class="slide__card">
                    <h2 class="slide__title"> Lorem Ipsum Dolor</h2>
                    <p class="slide__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="item slide slide__2012">
                <div class="overlay-slider"></div>
                <img class="irc_mi" src="assets/img/timeline/6.jpg"
                    alt="Image result for nature images hd">
                <div class="slide__card">
                    <h2 class="slide__title"> Lorem Ipsum Dolor</h2>
                    <p class="slide__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="item slide slide__2013">
                <div class="overlay-slider"></div>
                <img class="irc_mi" src="assets/img/timeline/7.jpg" alt="Image result for nature images hd">
                <div class="slide__card">
                    <h2 class="slide__title"> Lorem Ipsum Dolor</h2>
                    <p class="slide__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="item slide slide__2015">
                <div class="overlay-slider"></div>
                 <img src="assets/img/timeline/8.jpg" alt="">
                <div class="slide__card">
                    <p class="slide__description">The project of “King Abdullah Cultural Center” development - Dammam, under coverage of Eastern Province Municipality and in a partnership with Al-Khaldi Holding Company. The project is covering area ​​more than 800,000 square meters, with an investment value of more than 400 million riyals, to create an exceptional sea front.</p>
                </div>
            </div>
            <div class="item slide slide__2016">
                <div class="overlay-slider"></div>
                 <img src="" alt="">
                <div class="slide__card">
                    <p class="slide__description">The project of “King Abdullah Cultural Center” development - Dammam, under coverage of Eastern Province Municipality and in a partnership with Al-Khaldi Holding Company. The project is covering area ​​more than 800,000 square meters, with an investment value of more than 400 million riyals, to create an exceptional sea front.</p>
                </div>
            </div>
        </div>
    </div>
</div>