<div class="page__banner" data-background="assets/img/about/about-banner.jpg" style="background-image: url(assets/img/about/about-banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__banner-content">
                    <span>About</span>
                    <ul>
                        <li><a routerLink="/home">Home</a><span>|</span></li>
                        <li>About</li>
                    </ul>
                    <h1>WHO WE ARE</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Area Start -->
<div class="about__one dark__image section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 lg-mb-30">
                <div class="about__one-left">
                    <div class="about__one-left-image">
                        <img class="one" src="assets/img/about/about-1.jpg" alt="">	
                        <img class="two" src="assets/img/about/about-2.jpg" alt="">
                    </div>
                    <div class="about__one-left-experience">
                        <h1><span class="counter">1972</span></h1>
                        <h6>SINCE</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about__one-right">
                    <div class="about__one-right-title">
                        <h2>About Company</h2>
                        <p>
                            Al-Khaldi is a Professional Organization founded in 1972 by a group of industrial leaders to ensure a high level of professionalism and promote continuing service in the fields of transportation, trading of petroleum and cement, chemical products distribution and in drilling. 
                        </p>
                    </div>
                    <div class="about__one-right-btn">
                        <div>
                            <a class="btn-one" routerLink="">Download Profile<i class="far fa-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="about__one-shape-1 dark-n" src="assets/img/shape/about-1.png" alt="">
    <img class="about__one-shape-1 light-n" src="assets/img/shape/about-1-dark.png" alt="">
    <img class="about__one-shape-2 dark-n" src="assets/img/shape/about-2.png" alt="">
    <img class="about__one-shape-2 light-n" src="assets/img/shape/about-2-dark.png" alt="">
</div>
<!-- About Area End -->

<!-- <div class="about__solution" data-background="assets/img/about/team-banner.jpg" style="background-image: url(&quot;assets/img/about/team-banner.jpg&quot;);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8">
                <div class="about__solution-left xl-t-center">
                    <h2>OUR management </h2>
                    <p class="text-white">
                        Founded in 1972 by Shaikh Mubarak Al Khaldi, Al-Khaldi is a professional services organisation which has interests in the trading, transportation and distribution of petroleum, cement and chemical products.
                    </p>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="about__solution-right t-right xl-t-center">						
                    <a class="btn-one" [routerLink]="['/management']">KNOW MORE<i class="far fa-chevron-double-right"></i></a>
                    <img class="about__solution-right-shape left-right-animate" src="assets/img/shape/about-solution.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="mission-sec">
    <div class="container">
        <div _ngcontent-ng-c2036046135="" class="services__one-title lg-t-center">
            <span _ngcontent-ng-c2036046135="" class="subtitle-one">VIEW</span>
            <h2 _ngcontent-ng-c2036046135="">OUR MISSION & VISION</h2>
            <p _ngcontent-ng-c2036046135="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptas </p>
        </div>
        <nav>
            <div class="border-0 nav nav-tabs mb-3 justify-content-xs-center" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Mission</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Vision</button>
            </div>
        </nav>
    </div>
    <div class="custom-tab-content tab-content p-3" id="nav-tabContent">
        <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <img src="assets/img/about/mission-banner.jpg" alt="">
            <div class="text-bx">
                <h2>Mission</h2>
                <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi cumque beatae natus iure eos qui ut blanditiis aperiam repudiandae. Obcaecati suscipit omnis perferendis. Distinctio, sed voluptas eveniet neque aut odit.
                </p>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <img src="assets/img/about/vision-banner.jpg" alt="">
            <div class="text-bx">
                <h2>Vision</h2>
                <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi cumque beatae natus iure eos qui ut blanditiis aperiam repudiandae. Obcaecati suscipit omnis perferendis. Distinctio, sed voluptas eveniet neque aut odit.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="timeline-about">
    <app-timeline></app-timeline>
</div>
