<div class="page__banner" data-background="assets/img/banner/banner-4.jpg" style="background-image: url(assets/img/banner/banner-4.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__banner-content">
                    <span>About</span>
                    <ul>
                        <li><a routerLink="/home">Home</a><span>|</span></li>
                        <li>About</li>
                    </ul>
                    <h1>WHO WE ARE</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Area Start -->
<div class="about__one dark__image section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 lg-mb-30">
                <div class="about__one-left">
                    <div class="about__one-left-image">
                        <img class="one" src="assets/img/about/about-1.jpg" alt="">	
                        <img class="two" src="assets/img/about/about-2.jpg" alt="">
                    </div>
                    <div class="about__one-left-experience">
                        <h1><span class="counter">1967</span></h1>
                        <h6>SINCE</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about__one-right">
                    <div class="about__one-right-title">
                        <h2>About Company</h2>
                        <p>
                            Al-Khaldi is a Logistic & Operation Management Consultant leader and has been established a solid reputation for fast, reliable and flexible customer service in transportation, full service warehousing and third party logistics.
                        </p>
                    </div>
                    <div class="about__one-right-btn">
                        <div>
                            <a class="btn-one" routerLink="">Download Profile<i class="far fa-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="about__one-shape-1 dark-n" src="assets/img/shape/about-1.png" alt="">
    <img class="about__one-shape-1 light-n" src="assets/img/shape/about-1-dark.png" alt="">
    <img class="about__one-shape-2 dark-n" src="assets/img/shape/about-2.png" alt="">
    <img class="about__one-shape-2 light-n" src="assets/img/shape/about-2-dark.png" alt="">
</div>
<!-- About Area End -->

<div class="about__solution" data-background="assets/img/about/team-banner.jpg" style="background-image: url(&quot;assets/img/about/team-banner.jpg&quot;);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8">
                <div class="about__solution-left xl-t-center">
                    <h2>OUR management </h2>
                    <p class="text-white">
                        Founded in 1972 by Shaikh Mubarak Al Khaldi, Al-Khaldi is a professional services organisation which has interests in the trading, transportation and distribution of petroleum, cement and chemical products.
                    </p>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="about__solution-right t-right xl-t-center">						
                    <a class="btn-one" routerLink="management">KNOW MORE<i class="far fa-chevron-double-right"></i></a>
                    <img class="about__solution-right-shape left-right-animate" src="assets/img/shape/about-solution.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="timeline-about">
    <app-timeline></app-timeline>
</div>
