<div class="page__banner" data-background="assets/img/board/board-member.jpg" style="background-image: url(assets/img/board/board-member.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__banner-content">
                    <span>Board Member</span>
                    <ul>
                        <li><a routerLink="/home">Home</a><span>|</span></li>
                        <li>Board Member</li>
                    </ul>
                    <h1>Leadership</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="consulting__area section-padding">
    <img class="consulting__area-shape dark-n" src="assets/img/shape/consulting.png" alt="">
    <img class="consulting__area-shape light-n" src="assets/img/shape/consulting-dark.png" alt="">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-6 lg-mb-30">
                <div class="consulting__area-image dark__image">
                    <img src="assets/img/board/chairman.jpg" alt="">
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="consulting__area-right">
                    <div class="consulting__area-right-title">
                        <span class="subtitle-two">CHAIRMAN MESSAGE</span>
                        <h2>Hamoud Al-Khalidi</h2>
                        <p>
							From A Simple Beginning As A Service Company, To An Advanced Organization, The Evolution Of Al-Khaldi Holding Company Has Been Dotted With Trail-Blazing Success. Over The Last Five Decades, Al-Khaldi Holding Company Has Carved A Permanent Niche For Itself By Adopting Quality System Standards That Match The Best In The World. Thanks To Our Trusted And Valued Clients Who Have Constantly Reposed Their Confidence In Us. Al-Khaldi Holding Company Today Takes Pride In Being A Premier Company That Has Successfully Turned The Dreams Of So Many Across Our Country Into Reality.
						</p>
                    </div>
                    <a class="btn-six" [routerLink]="['/contact']">Contact Us<i class="far fa-chevron-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>




	<!-- Services Area Start -->
	<div class="services__two mt-25 mb-100">
		<div class="container">
			<div class="row mb-70 align-items-end">
				<div class="col-xl-8 col-sm-8 lg-mb-30">
					<div class="services__two-title sm-t-center">
						<span class="subtitle-two">Management</span>
						<h2>LEADERS</h2>						
					</div>
				</div>
				<div class="col-xl-4 col-sm-4">
					<div class="services__two-arrow t-right sm-t-center">
						<div class="services__two-arrow-prev swiper-button-prev"><i class="fal fa-long-arrow-left"></i></div>
						<div class="services__two-arrow-next swiper-button-next"><i class="fal fa-long-arrow-right"></i></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12">
					<div class="swiper services__two-slider">
						<div class="swiper-wrapper">
							<div class="services__two-item swiper-slide" data-background="assets/img/board/5.jpg">
								<div class="services__two-item-content">
									<div class="services__two-item-content-icon">
                                        <img src="assets/img/board/5p.jpg" alt="">
									</div>
									<h4><a href="#">Bandar Al-Khalidi</a></h4>
									<p>Vice Chairman</p>
								</div>
							</div>
							<div class="services__two-item swiper-slide" data-background="assets/img/board/1.jpg">
								<div class="services__two-item-content">
									<div class="services__two-item-content-icon">
										<img src="assets/img/board/1p.jpg" alt="">
									</div>
									<h4><a href="#">Megren Al-Khaldi</a></h4>
									<p>Board of Directors</p>
								</div>
							</div>
							<div class="services__two-item swiper-slide" data-background="assets/img/board/2.jpg">
								<div class="services__two-item-content">
									<div class="services__two-item-content-icon">
										<img src="assets/img/board/2p.jpg" alt="">
									</div>
									<h4><a href="#">Badar Al-Khaldi</a></h4>
									<p>Board of Directors</p>
								</div>
							</div>
							<div class="services__two-item swiper-slide" data-background="assets/img/board/3.jpg">
								<div class="services__two-item-content">
									<div class="services__two-item-content-icon">
                                        <img src="assets/img/board/3p.jpg" alt="">
									</div>
									<h4><a href="#">Mohammed Al-Khaldi</a></h4>
									<p>Board of Directors</p>
								</div>
							</div>
							<div class="services__two-item swiper-slide" data-background="assets/img/board/6.jpg">
								<div class="services__two-item-content">
									<div class="services__two-item-content-icon">
                                        <img src="assets/img/board/6p.jpg" alt="">
									</div>
									<h4><a href="#">Mamdouh Al-Khaldi</a></h4>
									<p>Board of Directors</p>
								</div>
							</div>
							<div class="services__two-item swiper-slide" data-background="assets/img/board/4.jpg">
								<div class="services__two-item-content">
									<div class="services__two-item-content-icon">
                                        <img src="assets/img/board/4p.jpg" alt="">
									</div>
									<h4><a href="#">Anwar M. Al Khaldi</a></h4>
									<p>Board of Directors</p>
								</div>
							</div>
							<div class="services__two-item swiper-slide" data-background="assets/img/board/8.jpg">
								<div class="services__two-item-content">
									<div class="services__two-item-content-icon">
                                        <img src="assets/img/board/8p.jpg" alt="">
									</div>
									<h4><a href="#">Abdulmohsen Al-Khaldi</a></h4>
									<p>Board of Directors</p>
								</div>
							</div>
							<div class="services__two-item swiper-slide" data-background="assets/img/board/7.jpg">
								<div class="services__two-item-content">
									<div class="services__two-item-content-icon">
                                        <img src="assets/img/board/7p.jpg" alt="">
									</div>
									<h4><a href="#">Ibraheem Al Bahri</a></h4>
									<p>Board of Directors</p>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
	<!-- Services Area End -->   