<div class="page__banner" data-background="assets/img/team/team-banner.jpg" style="background-image: url(assets/img/team/team-banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__banner-content">
                    <span>Our Team</span>
                    <ul>
                        <li><a routerLink="/home">Home</a><span>|</span></li>
                        <li>Team</li>
                    </ul>
                    <h1>Team Members</h1>
                </div>
            </div>
        </div>
    </div>
</div>

	<!-- Team Page Area Start -->
    <div class="team__area section-padding dark__image">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
					<div class="team__area-item">
						<div class="team__area-item-image">
							<img src="assets/img/team/team-1.jpg" alt="">
							<div class="team__area-item-image-icon page">
                                <div class="team__area-item-image-social">
                                    <ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
                                </div>
								<span><i class="fas fa-share-alt"></i></span>
                            </div>
						</div>
						<div class="team__area-item-content page">
							<h5><a href="#">Full Name</a></h5>
							<span class="text-eight">Sr. Consultant</span>
						</div>
					</div>
				</div>
                <div class="col-xl-3 col-lg-4 col-md-6 md-mb-30">
					<div class="team__area-item">
						<div class="team__area-item-image">
							<img src="assets/img/team/team-2.jpg" alt="">
							<div class="team__area-item-image-icon page">
                                <div class="team__area-item-image-social">
                                    <ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
                                </div>
								<span><i class="fas fa-share-alt"></i></span>
                            </div>
						</div>
						<div class="team__area-item-content page">
							<h5><a href="#">Full Name</a></h5>
							<span class="text-eight">Sr. Manager</span>
						</div>
					</div>
				</div>
                <div class="col-xl-3 col-lg-4 col-md-6 md-mb-30">
					<div class="team__area-item">
						<div class="team__area-item-image">
							<img src="assets/img/team/team-3.jpg" alt="">
							<div class="team__area-item-image-icon page">
                                <div class="team__area-item-image-social">
                                    <ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
                                </div>
								<span><i class="fas fa-share-alt"></i></span>
                            </div>
						</div>
						<div class="team__area-item-content page">
							<h5><a href="#">Full Name</a></h5>
							<span class="text-eight">Jr. Designer</span>
						</div>
					</div>
				</div>
                <div class="col-xl-3 col-lg-4 col-md-6 xl-mb-30">
					<div class="team__area-item">
						<div class="team__area-item-image">
							<img src="assets/img/team/team-4.jpg" alt="">
							<div class="team__area-item-image-icon page">
                                <div class="team__area-item-image-social">
                                    <ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
                                </div>
								<span><i class="fas fa-share-alt"></i></span>
                            </div>
						</div>
						<div class="team__area-item-content page">
							<h5><a href="#">Full Name</a></h5>
							<span class="text-eight">Sr. Developer</span>
						</div>
					</div>
				</div>
                <div class="col-xl-3 col-lg-4 col-md-6 md-mb-30">
					<div class="team__area-item">
						<div class="team__area-item-image">
							<img src="assets/img/team/team-5.jpg" alt="">
							<div class="team__area-item-image-icon page">
                                <div class="team__area-item-image-social">
                                    <ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
                                </div>
								<span><i class="fas fa-share-alt"></i></span>
                            </div>
						</div>
						<div class="team__area-item-content page">
							<h5><a href="#">Full Name</a></h5>
							<span class="text-eight">Sr. Consultant</span>
						</div>
					</div>
				</div>
                <div class="col-xl-3 col-lg-4 col-md-6 lg-mb-30">
					<div class="team__area-item">
						<div class="team__area-item-image">
							<img src="assets/img/team/team-6.jpg" alt="">
							<div class="team__area-item-image-icon page">
                                <div class="team__area-item-image-social">
                                    <ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
                                </div>
								<span><i class="fas fa-share-alt"></i></span>
                            </div>
						</div>
						<div class="team__area-item-content page">
							<h5><a href="#">Full Name</a></h5>
							<span class="text-eight">Sr. Manager</span>
						</div>
					</div>
				</div>
                <div class="col-xl-3 col-lg-4 col-md-6 md-mb-30">
					<div class="team__area-item">
						<div class="team__area-item-image">
							<img src="assets/img/team/team-7.jpg" alt="">
							<div class="team__area-item-image-icon page">
                                <div class="team__area-item-image-social">
                                    <ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
                                </div>
								<span><i class="fas fa-share-alt"></i></span>
                            </div>
						</div>
						<div class="team__area-item-content page">
							<h5><a href="#">Full Name</a></h5>
							<span class="text-eight">Sr. Designer</span>
						</div>
					</div>
				</div>
                <div class="col-xl-3 col-lg-4 col-md-6">
					<div class="team__area-item">
						<div class="team__area-item-image">
							<img src="assets/img/team/team-8.jpg" alt="">
							<div class="team__area-item-image-icon page">
                                <div class="team__area-item-image-social">
                                    <ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
                                </div>
								<span><i class="fas fa-share-alt"></i></span>
                            </div>
						</div>
						<div class="team__area-item-content page">
							<h5><a href="#">Full Name</a></h5>
							<span class="text-eight">Jr. Developer</span>
						</div>
					</div>
				</div>
            </div>
            <div class="row mt-70">
                <div class="col-xl-12 t-center">
                    <h6>Consulting With our Expert Team Members <a [routerLink]="['contact']">Contact Us</a></h6>
                </div>
            </div>
        </div>
    </div>
	<!-- Team Page Area End -->
