<div class="page__banner" data-background="assets/img/corporate/corporate-banner.jpg" 
style="background-image: url(assets/img/corporate/corporate-banner.jpg);
    background-size: cover;
    background-position: bottom;
">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__banner-content">
                    <span>Social</span>
                    <ul>
                        <li><a routerLink="/home">Home</a><span>|</span></li>
                        <li>Social</li>
                    </ul>
                    <h1>Corporate Social <br>Responsibility </h1>
                </div>
            </div>
        </div>
    </div>
</div>

    

<!-- Services Details Start -->
<div class="services__details section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 lg-mb-60">
                <div class="services__details-left">
                    <div class="services__details-left-image dark__image">
                        <img src="assets/img/social/blog-1.jpg" alt="">
                    </div>
                    <div class="services__details-left-content">
                        <h2>Asharqia Orphans Association </h2>
                        <p class="mb-25">
                            “Tamkeen” provides a pioneering model in developing the environment for caring for orphans with special circumstances at all stages, integrating them into society, enabling them to reach the highest levels of psychological and social stability, and contributing as distinctive and effective building blocks in development.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="col-xl-12 col-lg-12 order-last order-lg-first">
                    <div class="all__sidebar">
                        <div class="all__sidebar-item">
                            <h4>Date & Year Filter</h4>
                            <form class="row">
                                <label for="date" class="col-1 col-form-label">Date</label>
                                <div class="">
                                  <div class="input-group date" id="datepicker">
                                    <input type="text" class="form-control" id="date"/>
                                    <span class="input-group-append">
                                      <span class="input-group-text bg-light d-block">
                                        <i class="fa fa-calendar"></i>
                                      </span>
                                    </span>
                                  </div>
                                </div>
                              </form>
                        </div>
                    </div>  
                </div>
                <div class="all__sidebar">
                    <div class="all__sidebar-item">
                        <h4>Companies</h4> 
                        <div class="all__sidebar-item-solution">
                            <ul>                                    
                                <li><a [routerLink]="['/companies']" class="active"><i class="far fa-chevron-double-right"></i>SERVICE 1</a></li>
                            </ul>
                        </div>
                    </div>
                </div>                   
            </div>
        </div>
    </div>
</div>
<!-- Services Details End -->    

