<div class="page__banner" data-background="assets/img/team/team-banner.jpg" style="background-image: url(assets/img/team/team-banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__banner-content">
                    <span>Social</span>
                    <ul>
                        <li><a routerLink="/home">Home</a><span>|</span></li>
                        <li>Social</li>
                    </ul>
                    <h1>Corporate Social <br>Responsibility </h1>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="news__standard section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 order-last order-lg-first">
                <div class="all__sidebar">
                    <div class="all__sidebar-item">
                        <h4>Filter</h4>
                        <form class="row">
                            <label for="date" class="col-1 col-form-label">Date</label>
                            <div class="">
                              <div class="input-group date" id="datepicker">
                                <input type="text" class="form-control" id="date"/>
                                <span class="input-group-append">
                                  <span class="input-group-text bg-light d-block">
                                    <i class="fa fa-calendar"></i>
                                  </span>
                                </span>
                              </div>
                            </div>
                          </form>
                    </div>
                </div>  
            </div>
            <div class="col-xl-8 col-lg-8 lg-mb-60">
                <div class="news__standard-left">
                    <div class="news__standard-left-item mb-40">
                        <div class="news__standard-left-item-image">
                            <a href="#"><img src="assets/img/news/blog-1.jpg" alt=""></a>
                        </div>
                        <div class="news__standard-left-item-content">
                            <h3 class="mb-10"><a href="">Al-Khalidi Group celebrates Saudi Founding Day 2023</a></h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi perspiciatis placeat nostrum inventore nemo culpa incidunt ipsam aliquid! Vero harum animi nemo. Molestiae consectetur placeat, obcaecati dolorem nisi laboriosam dicta.</p>                        
                        </div> 
                    </div>
                    <div class="news__standard-left-item mb-40">
                        <div class="news__standard-left-item-image">
                            <a href="#"><img src="assets/img/news/blog-2.jpg" alt=""></a>
                        </div>
                        <div class="news__standard-left-item-content">
                            <h3 class="mb-10"><a href="">The project of “King Abdullah Cultural Center” development - Dammam,</a></h3>
                            <p>
                                 Under coverage of Eastern Province Municipality and in a partnership with Al-Khaldi Holding Company. The project is covering area ​​more than 800,000 square meters, with an investment value of more than 400 million riyals, to create an exceptional sea front.
                            </p>                        
                        </div> 
                    </div>
                    <div class="news__standard-left-item mb-40">
                        <div class="news__standard-left-item-image">
                            <a href="3"><img src="assets/img/news/blog-3.jpg" alt=""></a>
                        </div>
                        <div class="news__standard-left-item-content">
                            <h3 class="mb-10"><a href="">Established Of Auto Gulf Company</a></h3>
                            <p>
                                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolor provident illo rem, perferendis, maiores nemo atque, eos earum quam dicta eaque. Nemo facilis esse nesciunt vero sed architecto inventore!
                            </p>                        
                        </div> 
                    </div>

                </div>
                <div class="row mt-50">
                    <div class="col-xl-12">
                        <div class="theme__pagination">
                            <ul>
                                <li><a class="active" href="#">01</a></li>
                                <li><a href="#">02</a></li>
                                <li><a href="#"><i class="far fa-ellipsis-h"></i></a></li>
                                <li><a href="#">05</a></li>
                                <li><a href="#"><i class="fas fa-chevron-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>