
<app-banner></app-banner>
	<!-- About Area Start -->
	<div class="about__one dark__image section-padding">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 lg-mb-30">
					<div class="about__one-left">
						<div class="about__one-left-image">
							<img class="one" src="assets/img/about/about-1.jpg" alt="">	
							<img class="two" src="assets/img/about/about-2.jpg" alt="">
						</div>
						<div class="about__one-left-experience">
							<h1><span class="counter">1967</span></h1>
							<h6>SINCE</h6>
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6">
					<div class="about__one-right">
						<div class="about__one-right-title">
							<h2>Who We Are</h2>
							<p>
								Al-Khaldi is a Logistic & Operation Management Consultant leader and has been established a solid reputation for fast, reliable and flexible customer service in transportation, full service warehousing and third party logistics.
							</p>
						</div>
						<div class="about__one-right-btn">
							<div>
								<a class="btn-one" routerLink="">Discover More<i class="far fa-chevron-double-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<img class="about__one-shape-1 dark-n" src="assets/img/shape/about-1.png" alt="">
		<img class="about__one-shape-1 light-n" src="assets/img/shape/about-1-dark.png" alt="">
		<img class="about__one-shape-2 dark-n" src="assets/img/shape/about-2.png" alt="">
		<img class="about__one-shape-2 light-n" src="assets/img/shape/about-2-dark.png" alt="">
	</div>
	<!-- About Area End -->


	<div class="tp-fact-area counter-mlr">
		<div class="container-custom">
		   <div class="fact-bg" data-background="assets/img/shape/bg.jpg" style="background-image: url(assets/img/shape/bg.jpg);">
			  <div class="row align-items-center">
				 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6 col-12">
					<div class="tpfact mb-30 d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="100ms" style="visibility: visible; animation-duration: 1.5s; animation-delay: 100ms; animation-name: fadeInUp;">
					   <div class="tpfact__icon">
						<i class="fal fa-building"></i>
					   </div>
					   <div class="tpfact__content">
						  <h2><span class="counter">25</span>+</h2>
						  <span>Private and Public Companies</span>
					   </div>
					</div>
				 </div>
				 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6 col-12">
					<div class="tpfact mb-30 d-flex justify-content-center align-items-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1.5s; animation-delay: 300ms; animation-name: fadeInUp;">
					   <div class="tpfact__icon">
						<i class="fal fa-users-crown"></i>
					   </div>
					   <div class="tpfact__content">
						  <h2><span class="counter">5000</span>+</h2>
						  <span>Professional Team</span>
					   </div>
					</div>
				 </div>
				 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6 col-12">
					<div class="tpfact mb-30 d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms" style="visibility: visible; animation-duration: 1.5s; animation-delay: 500ms; animation-name: fadeInUp;">
					   <div class="tpfact__icon">
						<i class="fal fa-map-pin"></i>
					   </div>
					   <div class="tpfact__content">
						  <h2><span class="counter">50</span>+</h2>
						  <span>Locations Inside Saudi Arabia</span>
					   </div>
					</div>
				 </div>
				 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6 col-12">
					<div class="tpfact mb-30 d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms" style="visibility: visible; animation-duration: 1.5s; animation-delay: 700ms; animation-name: fadeInUp;">
					   <div class="tpfact__icon">
						<i class="fal fa-calendar-alt"></i>
					   </div>
					   <div class="tpfact__content">
						  <h2><span class="counter">96</span>+</h2>
						  <span>years of experience</span>
					   </div>
					</div>
				 </div>
			  </div>
		   </div>
		</div>
	 </div>


	<div class="getIn__touch-three section-padding pb-200 pt-200" data-background="assets/img/banner/banner-4.jpg" style="background-image: url(&quot;assets/img/banner/banner-4.jpg&quot;);">
		<img class="getIn__touch-three-shape left-right-animate2" src="assets/img/shape/getInTouchThree.png" alt="">
		<div class="container">
			<div class="row">
				<div class="col-xl-7 col-lg-7 lg-mb-50">
					<div class="getIn__touch-three-left">
						<div class="getIn__touch-three-left-title">
							<h2>Chairman Message</h2>	
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
							<a class="btn-one mt-5" routerLink="">Know More<i class="far fa-chevron-double-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="portfolio__area dark__image section-padding pb-0">
		<div class="container-fluid p-0">
			<div class="row mb-60">
				<div class="col-xl-12">
					<div class="portfolio__area-title t-center">
						<span class="subtitle-one">Company</span>
						<h2>Industries We Serve</h2>
						<a class="btn-one mt-4" routerLink="">All SECTORS<i class="far fa-chevron-double-right"></i></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12">
					<div class="swiper portfolio__area-slider">
						<div class="swiper-wrapper">
							<div class="portfolio__area-item swiper-slide">
								<img src="assets/img/sectors/1.jpg" alt="">
								<div class="portfolio__area-item-content">
									<div class="portfolio__area-item-content-title">
										<h4><a routerLink="">Building Materials</a></h4>
									</div>
									<div class="portfolio__area-item-content-icon">
										<a routerLink=""><img src="assets/img/icon/up-arrow.png" alt=""></a>
									</div>
								</div>
							</div>
							<div class="portfolio__area-item swiper-slide">
								<img src="assets/img/sectors/2.jpg" alt="">
								<div class="portfolio__area-item-content">
									<div class="portfolio__area-item-content-title">
										<h4><a routerLink="">Oil & Gas</a></h4>
									</div>
									<div class="portfolio__area-item-content-icon">
										<a routerLink=""><img src="assets/img/icon/up-arrow.png" alt=""></a>
									</div>
								</div>
							</div>
							<div class="portfolio__area-item swiper-slide">
								<img src="assets/img/sectors/3.jpg" alt="">
								<div class="portfolio__area-item-content">
									<div class="portfolio__area-item-content-title">
										<h4><a routerLink="">Real Estate</a></h4>
									</div>
									<div class="portfolio__area-item-content-icon">
										<a routerLink=""><img src="assets/img/icon/up-arrow.png" alt=""></a>
									</div>
								</div>
							</div>
							<div class="portfolio__area-item swiper-slide">
								<img src="assets/img/sectors/4.jpg" alt="">
								<div class="portfolio__area-item-content">
									<div class="portfolio__area-item-content-title">
										<h4><a routerLink="">Transportation & logistics</a></h4>
									</div>
									<div class="portfolio__area-item-content-icon">
										<a routerLink=""><img src="assets/img/icon/up-arrow.png" alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio Area End -->

	<!-- Services Area Start -->
	<div class="services__one section-padding pt-100">
		<div class="container">
			<div class="row align-items-end mb-70">
				<div class="col-xl-7 col-lg-8 lg-mb-30">
					<div class="services__one-title lg-t-center">
						<span class="subtitle-one">Projects</span>
						<h2>OUR PROJECTS</h2>
						<p>Projects we are a part of in
                            Kingdom of SaudiArabia</p>
					</div>
				</div>
				<div class="col-xl-5 col-lg-4 t-right lg-t-center">
					<a class="btn-one" routerLink="">All Projects<i class="far fa-chevron-double-right"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-3 col-lg-4 col-md-6 xl-mb-30">
					<div class="services__one-item">
						<h4><a routerLink="">HEADING</a></h4>
						<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
						<a class="simple-btn-2" routerLink="">Read More<i class="far fa-chevron-double-right"></i></a>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6 md-mb-30">
					<div class="services__one-item2">
						<h4><a routerLink="">HEADING</a></h4>
						<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
						<a class="simple-btn-2" routerLink="">Read More<i class="far fa-chevron-double-right"></i></a>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6 md-mb-30">
					<div class="services__one-item3">
						<h4><a routerLink="">HEADING</a></h4>
						<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
						<a class="simple-btn-2" routerLink="">Read More<i class="far fa-chevron-double-right"></i></a>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="services__one-item4">
						<h4><a routerLink="">HEADING</a></h4>
						<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
						<a class="simple-btn-2" routerLink="">Read More<i class="far fa-chevron-double-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Services Area End -->

	<!-- Blog Area Start -->
	<div class="blog__one dark__image section-padding">
		<div class="container">
			<div class="row align-items-end mb-70">
				<div class="col-xl-7 col-lg-8 lg-mb-30">
					<div class="blog__one-title lg-t-center">
						<span class="subtitle-one">From the blog</span>
						<h2>News & Events</h2>
					</div>
				</div>
				<div class="col-xl-5 col-lg-4 t-right lg-t-center">
					<a class="btn-two" routerLink="">See more news<i class="far fa-chevron-double-right"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-4 col-lg-6 xl-mb-30">
					<div class="blog__one-item">
						<div class="blog__one-item-image">
							<a routerLink=""><img src="assets/img/blog/blog-1.jpg" alt=""></a>
							<div class="blog__one-item-image-date">
								<span class="text-three">23</span>
								<span class="text-five">Dec</span>
							</div>
						</div>
						<div class="blog__one-item-content">
							<h4><a routerLink="">Lorem ipsum dolor, sit amet consectetur adipisicing elit </a></h4>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-6 lg-mb-30">
					<div class="blog__one-item">
						<div class="blog__one-item-image">
							<a routerLink=""><img src="assets/img/blog/blog-2.jpg" alt=""></a>
							<div class="blog__one-item-image-date">
								<span class="text-three">20</span>
								<span class="text-five">Dec</span>
							</div>
						</div>
						<div class="blog__one-item-content">
							<h4><a routerLink="">Lorem ipsum dolor, sit amet consectetur adipisicing elit</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-6">
					<div class="blog__one-item">
						<div class="blog__one-item-image">
							<a routerLink=""><img src="assets/img/blog/blog-3.jpg" alt=""></a>
							<div class="blog__one-item-image-date">
								<span class="text-three">17</span>
								<span class="text-five">Dec</span>
							</div>
						</div>
						<div class="blog__one-item-content">
							<h4><a routerLink="">Lorem ipsum dolor, sit amet consectetur adipisicing elit</a></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Blog Area End -->