
<app-banner></app-banner>
	<!-- About Area Start -->
	<div class="about__one dark__image section-padding">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 lg-mb-30">
					<div class="about__one-left">
						<div class="about__one-left-image">
							<img class="one" src="assets/img/about/about-1.jpg" alt="">	
							<img class="two" src="assets/img/about/about-2.jpg" alt="">
						</div>
						<div class="about__one-left-experience">
							<h1><span class="counter">1972</span></h1>
							<h6>SINCE</h6>
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6">
					<div class="about__one-right">
						<div class="about__one-right-title">
							<h2>Who We Are</h2>
							<p>
								Established at 1972, Al-Khaldi Group by its founder Sheikh Mubarak Zaid Awad Al-Khaldi, the great entrepreneur and a man of visions.
Eventually transformed from a sole proprietorship to one of the leading holding companies in Saudi Arabia by focusing on a diverse portfolio of around 25 companies spanning six of high-growth sectors in Saudi Arabia (Supply chain and logistics services, Oil and Gas, Drilling and Fuel trading, building material trading and contracting, Real estate services, Travel and tourism services and Retail). That is through adopting and enhancing a flexible, long-term, and sustainable investment approach to enhance the Kingdom’s Vision 2030

							</p>
						</div>
						<div class="about__one-right-btn">
							<div>
								<a class="btn-one" [routerLink]="['/about']">Discover More<i class="far fa-chevron-double-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<img class="about__one-shape-1 dark-n" src="assets/img/shape/about-1.png" alt="">
		<img class="about__one-shape-1 light-n" src="assets/img/shape/about-1-dark.png" alt="">
		<img class="about__one-shape-2 dark-n" src="assets/img/shape/about-2.png" alt="">
		<img class="about__one-shape-2 light-n" src="assets/img/shape/about-2-dark.png" alt="">
	</div>
	<!-- About Area End -->


	<div class="tp-fact-area counter-mlr">
		<div class="container-custom">
		   <div class="fact-bg mob-fact-bg" data-background="assets/img/shape/bg.jpg" style="background-image: url(assets/img/shape/bg.jpg);">
			  <div class="row align-items-center">
				 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6 col-12">
					<div class="tpfact mb-30 wow fadeInUp mob-flex" data-wow-duration="1.5s" data-wow-delay="100ms" style="visibility: visible; animation-duration: 1.5s; animation-delay: 100ms; animation-name: fadeInUp;">
					   <div class="tpfact__icon">
						<i class="fal fa-building"></i>
					   </div>
					   <div class="tpfact__content">
						  <h2><span class="counter">25</span>+</h2>
						  <span>Private and Public Companies</span>
					   </div>
					</div>
				 </div>
				 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6 col-12">
					<div class="tpfact mb-30  wow fadeInUp mob-flex" data-wow-duration="1.5s" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1.5s; animation-delay: 300ms; animation-name: fadeInUp;">
					   <div class="tpfact__icon">
						<i class="fal fa-users-crown"></i>
					   </div>
					   <div class="tpfact__content">
						  <h2><span class="counter">3500</span>+</h2>
						  <span>Professional Team</span>
					   </div>
					</div>
				 </div>
				 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6 col-12">
					<div class="tpfact mb-30 wow fadeInUp mob-flex" data-wow-duration="1.5s" data-wow-delay="500ms" style="visibility: visible; animation-duration: 1.5s; animation-delay: 500ms; animation-name: fadeInUp;">
					   <div class="tpfact__icon">
						<i class="fal fa-map-pin"></i>
					   </div>
					   <div class="tpfact__content">
						  <h2><span class="counter">50</span>+</h2>
						  <span>Locations Inside Saudi Arabia</span>
					   </div>
					</div>
				 </div>
				 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6 col-12">
					<div class="tpfact mb-30 wow fadeInUp mob-flex" data-wow-duration="1.5s" data-wow-delay="700ms" style="visibility: visible; animation-duration: 1.5s; animation-delay: 700ms; animation-name: fadeInUp;">
					   <div class="tpfact__icon">
						<i class="fal fa-calendar-alt"></i>
					   </div>
					   <div class="tpfact__content">
						  <h2><span class="counter">52</span>+</h2>
						  <span>years of experience</span>
					   </div>
					</div>
				 </div>
			  </div>
		   </div>
		</div>
	 </div>


	<div class="getIn__touch-three section-padding pb-200 pt-200" data-background="assets/img/banner/banner-4.jpg" style="background-image: url(&quot;assets/img/banner/banner-4.jpg&quot;);">
		<img class="getIn__touch-three-shape left-right-animate2" src="assets/img/shape/getInTouchThree.png" alt="">
		<div class="container">
			<div class="row">
				<div class="col-xl-10 col-lg-10 lg-mb-50">
					<div class="getIn__touch-three-left">
						<div class="getIn__touch-three-left-title">
							<h2>Chairman Message</h2>	
							<p>
								From a simple beginning as a service company, to an advanced organization, the evolution of Al-Khaldi Holding Company has been dotted with trail-blazing success. Over the last five decades, Al-Khaldi Holding Company has carved a permanent niche for itself by adopting quality system standards that match the best in the world. Thanks to our trusted and valued clients who have constantly reposed their confidence in us. Al-Khaldi Holding Company today takes pride in being a premier company that has successfully turned the dreams of so many across our country into reality.

							</p>
							<p><B>HAMOUD MUBARAK Z.  AL-KHALDI</B></p>
							<a class="btn-one mt-5" [routerLink]="['management']">Know More<i class="far fa-chevron-double-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- timeline -->

<app-timeline></app-timeline>

<!-- timeline-end -->


<div class="portfolio__area dark__image section-padding pb-0">
	<div class="container-fluid p-0">
		<div class="row mb-60">
			<div class="col-xl-12">
				<div class="portfolio__area-title t-center">
					<span class="subtitle-one">Company</span>
					<h2>Industries We Serve</h2>
					<a class="btn-one mt-4" [routerLink]="['companies']">All SECTORS<i class="far fa-chevron-double-right"></i></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12">
				<div class="swiper portfolio__area-slider">
					<div class="col-xl-12 col-sm-12 d-flex justify-content-center mb-50">
						<div class="services__two-arrow t-right sm-t-center">
							<div class="services__two-arrow-prev swiper-button-prev"><i class="fal fa-long-arrow-left"></i></div>
							<div class="services__two-arrow-next swiper-button-next"><i class="fal fa-long-arrow-right"></i></div>
						</div>
					</div>
					<div class="swiper-wrapper">
						<div class="portfolio__area-item swiper-slide">
							<img src="assets/img/sectors/1.jpg" alt="">
							<div class="portfolio__area-item-content">
								<div class="portfolio__area-item-content-title">
									<h4><a  [routerLink]="['companies']">Building Materials</a></h4>
								</div>
								<div class="portfolio__area-item-content-icon">
									<a  [routerLink]="['companies']"><img src="assets/img/icon/up-arrow.png" alt=""></a>
								</div>
							</div>
						</div>
						<div class="portfolio__area-item swiper-slide">
							<img src="assets/img/sectors/2.jpg" alt="">
							<div class="portfolio__area-item-content">
								<div class="portfolio__area-item-content-title">
									<h4><a  [routerLink]="['companies']">Fuel services</a></h4>
								</div>
								<div class="portfolio__area-item-content-icon">
									<a  [routerLink]="['companies']"><img src="assets/img/icon/up-arrow.png" alt=""></a>
								</div>
							</div>
						</div>
						<div class="portfolio__area-item swiper-slide">
							<img src="assets/img/sectors/3.jpg" alt="">
							<div class="portfolio__area-item-content">
								<div class="portfolio__area-item-content-title">
									<h4><a  [routerLink]="['companies']">Real Estate</a></h4>
								</div>
								<div class="portfolio__area-item-content-icon">
									<a  [routerLink]="['companies']"><img src="assets/img/icon/up-arrow.png" alt=""></a>
								</div>
							</div>
						</div>
						<div class="portfolio__area-item swiper-slide">
							<img src="assets/img/sectors/4.jpg" alt="">
							<div class="portfolio__area-item-content">
								<div class="portfolio__area-item-content-title">
									<h4><a  [routerLink]="['companies']">Transportation & logistics</a></h4>
								</div>
								<div class="portfolio__area-item-content-icon">
									<a  [routerLink]="['companies']"><img src="assets/img/icon/up-arrow.png" alt=""></a>
								</div>
							</div>
						</div>
						<div class="portfolio__area-item swiper-slide">
							<img src="assets/img/sectors/5.jpg" alt="">
							<div class="portfolio__area-item-content">
								<div class="portfolio__area-item-content-title">
									<h4><a  [routerLink]="['companies']">Oil and gas</a></h4>
								</div>
								<div class="portfolio__area-item-content-icon">
									<a  [routerLink]="['companies']"><img src="assets/img/icon/up-arrow.png" alt=""></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Add navigation buttons -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- Portfolio Area End -->

	<!-- Client 1 - HCF Bootstrap 5 Component -->
	<section class="section-padding clent-sec">
		<div class="row mb-100">
			<div class="col-xl-12">
				<div class="portfolio__area-title t-center">
					<span class="subtitle-one">LOGO</span>
					<h2>OUR PARTNERS</h2>
				</div>
			</div>
		</div>
	  <div class="container overflow-hidden">
	<!-- Simple logo carousel slider -->
	<div class="logo-slider-1">
		<div class="owl-carousel version-1">
		  <div> <img src="assets/img/client/1.png" alt=""> </div>
		  <div> <img src="assets/img/client/2.png" alt=""> </div>
		  <div> <img src="assets/img/client/3.png" alt=""> </div>
		  <div> <img src="assets/img/client/4.png" alt=""> </div>
		  <div> <img src="assets/img/client/5.png" alt=""> </div>
		  <div> <img src="assets/img/client/6.png" alt=""> </div>
		  <div> <img src="assets/img/client/7.png" alt=""> </div>
		  <div> <img src="assets/img/client/8.png" alt=""> </div>
		</div>
	  </div>
	  <!-- End Simple logo carousel slider -->
	  </div>
	</section>


	<!-- Blog Area Start -->
	<div class="blog__one dark__image section-padding">
		<div class="container">
			<div class="row align-items-end mb-70">
				<div class="col-xl-7 col-lg-8 lg-mb-30">
					<div class="blog__one-title lg-t-center">
						<span class="subtitle-one">NEWS</span>
						<h2>News & Events</h2>
					</div>
				</div>
				<div class="col-xl-5 col-lg-4 t-right lg-t-center">
					<a class="btn-two" [routerLink]="['/news']">See more news<i class="far fa-chevron-double-right"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-4 col-lg-6 xl-mb-30">
					<div class="blog__one-item">
						<div class="blog__one-item-image">
							<a [routerLink]="['/news']"><img src="assets/img/news/blog-1.jpg" alt=""></a>
							<div class="blog__one-item-image-date">
								<span class="text-three">2023</span>
							</div>
						</div>
						<div class="blog__one-item-content">
							<h4><a [routerLink]="['/news']">Al-Khalidi Group celebrates Saudi Founding Day 2023</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-6 lg-mb-30">
					<div class="blog__one-item">
						<div class="blog__one-item-image">
							<a [routerLink]="['/news']"><img src="assets/img/news/blog-2.jpg" alt=""></a>
							<div class="blog__one-item-image-date">
								<span class="text-three">2023</span>
							</div>
						</div>
						<div class="blog__one-item-content">
							<h4><a [routerLink]="['/news']">The project of “King Abdullah Cultural Center” development - Dammam</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-6">
					<div class="blog__one-item">
						<div class="blog__one-item-image">
							<a routerLink=""><img src="assets/img/news/blog-3.jpg" alt=""></a>
							<div class="blog__one-item-image-date">
								<span class="text-three">2013</span>
							</div>
						</div>
						<div class="blog__one-item-content">
							<h4><a routerLink="">Established Of Auto Gulf Company</a></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Blog Area End -->


	