
<app-banner></app-banner>
	<!-- About Area Start -->
	<div class="about__one dark__image section-padding">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 lg-mb-30">
					<div class="about__one-left">
						<div class="about__one-left-image">
							<img class="one" src="assets/img/about/about-1.jpg" alt="">	
							<img class="two" src="assets/img/about/about-2.jpg" alt="">
						</div>
						<div class="about__one-left-experience">
							<h1><span class="counter">40</span>+</h1>
							<h6>Years Experience</h6>
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6">
					<div class="about__one-right">
						<div class="about__one-right-title">
							<h2>OUR STRENGHTS</h2>
							<p>At SBS our strengths are the pillars that uphold our success and drive us toward excellence. We take pride in these qualities that set us apart and define who we are</p>
						</div>
						<div class="about__one-right-btn">
							<div>
								<a class="btn-one" href="#">Discover More<i class="far fa-chevron-double-right"></i></a>
							</div>
						</div>
						<div class="about__one-right-bottom">
							<div class="about__one-right-bottom-list">
								<span><i class="far fa-check"></i>5 INDUSTRIES - SECTORS</span>
								<span><i class="far fa-check"></i>3 COUNTRIES - GLOBAL PRESENCES</span>
								<span><i class="far fa-check"></i>3 COMPANIES - JOINT VENTURES</span>
							</div>
							<div class="about__one-right-bottom-experience">
								<h3><span class="counter">5000</span>+</h3>
								<h6>Expert Team members</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<img class="about__one-shape-1 dark-n" src="assets/img/shape/about-1.png" alt="">
		<img class="about__one-shape-1 light-n" src="assets/img/shape/about-1-dark.png" alt="">
		<img class="about__one-shape-2 dark-n" src="assets/img/shape/about-2.png" alt="">
		<img class="about__one-shape-2 light-n" src="assets/img/shape/about-2-dark.png" alt="">
	</div>
	<!-- About Area End -->
	<div class="getIn__touch-three section-padding pb-200 pt-200" data-background="assets/img/banner/banner-4.jpg" style="background-image: url(&quot;assets/img/banner/banner-4.jpg&quot;);">
		<img class="getIn__touch-three-shape left-right-animate2" src="assets/img/shape/getInTouchThree.png" alt="">
		<div class="container">
			<div class="row">
				<div class="col-xl-7 col-lg-7 lg-mb-50">
					<div class="getIn__touch-three-left">
						<div class="getIn__touch-three-left-title">
							<h2>Chairman Message</h2>	
							<p>
								As the Chairman of SBS, it is my privilege and honor to address you today. Our journey has been marked by a relentless commitment to excellence, innovation, and a shared vision for a brighter future. I want to take this moment to reflect on our accomplishments and articulate our vision for the future.
							</p>
							<a class="btn-one mt-5" href="#">Know More<i class="far fa-chevron-double-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="portfolio__area dark__image section-padding pb-0">
		<div class="container-fluid p-0">
			<div class="row mb-60">
				<div class="col-xl-12">
					<div class="portfolio__area-title t-center">
						<span class="subtitle-one">Company</span>
						<h2>SECTORS WE SERVE</h2>
						<a class="btn-one mt-4" href="#">All SECTORS<i class="far fa-chevron-double-right"></i></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12">
					<div class="swiper portfolio__area-slider">
						<div class="swiper-wrapper">
							<div class="portfolio__area-item swiper-slide">
								<img src="assets/img/sectors/1.jpg" alt="">
								<div class="portfolio__area-item-content">
									<div class="portfolio__area-item-content-title">
										<h4><a href="#"> AEROSPACE TECHNOLOGY</a></h4>
									</div>
									<div class="portfolio__area-item-content-icon">
										<a href="#"><img src="assets/img/icon/up-arrow.png" alt=""></a>
									</div>
								</div>
							</div>
							<div class="portfolio__area-item swiper-slide">
								<img src="assets/img/sectors/2.jpg" alt="">
								<div class="portfolio__area-item-content">
									<div class="portfolio__area-item-content-title">
										<h4><a href="#">CONTRACTING</a></h4>
									</div>
									<div class="portfolio__area-item-content-icon">
										<a href="#"><img src="assets/img/icon/up-arrow.png" alt=""></a>
									</div>
								</div>
							</div>
							<div class="portfolio__area-item swiper-slide">
								<img src="assets/img/sectors/3.jpg" alt="">
								<div class="portfolio__area-item-content">
									<div class="portfolio__area-item-content-title">
										<h4><a href="#">INDUSTRIAL ENERGY</a></h4>
									</div>
									<div class="portfolio__area-item-content-icon">
										<a href="#"><img src="assets/img/icon/up-arrow.png" alt=""></a>
									</div>
								</div>
							</div>
							<div class="portfolio__area-item swiper-slide">
								<img src="assets/img/sectors/4.jpg" alt="">
								<div class="portfolio__area-item-content">
									<div class="portfolio__area-item-content-title">
										<h4><a href="#">COMESTIBLE</a></h4>
									</div>
									<div class="portfolio__area-item-content-icon">
										<a href="#"><img src="assets/img/icon/up-arrow.png" alt=""></a>
									</div>
								</div>
							</div>
							<div class="portfolio__area-item swiper-slide">
								<img src="assets/img/sectors/5.jpg" alt="">
								<div class="portfolio__area-item-content">
									<div class="portfolio__area-item-content-title">
										<h4><a href="#">REAL ESTATE</a></h4>
									</div>
									<div class="portfolio__area-item-content-icon">
										<a href="#"><img src="assets/img/icon/up-arrow.png" alt=""></a>
									</div>
								</div>
							</div>
							<div class="portfolio__area-item swiper-slide">
								<img src="assets/img/sectors/6.jpg" alt="">
								<div class="portfolio__area-item-content">
									<div class="portfolio__area-item-content-title">
										<h4><a href="#">OTHERS</a></h4>
									</div>
									<div class="portfolio__area-item-content-icon">
										<a href="#"><img src="assets/img/icon/up-arrow.png" alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio Area End -->

	<!-- Services Area Start -->
	<div class="services__one section-padding pt-100">
		<div class="container">
			<div class="row align-items-end mb-70">
				<div class="col-xl-7 col-lg-8 lg-mb-30">
					<div class="services__one-title lg-t-center">
						<span class="subtitle-one">Projects</span>
						<h2>MEGA PROJECTS</h2>
						<p>Projects we are a part of in
                            Kingdom of SaudiArabia</p>
					</div>
				</div>
				<div class="col-xl-5 col-lg-4 t-right lg-t-center">
					<a class="btn-one" href="#">All Projects<i class="far fa-chevron-double-right"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-3 col-lg-4 col-md-6 xl-mb-30">
					<div class="services__one-item">
						<h4><a href="#">NEOM</a></h4>
						<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
						<a class="simple-btn-2" href="#">Read More<i class="far fa-chevron-double-right"></i></a>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6 md-mb-30">
					<div class="services__one-item2">
						<h4><a href="#">Diriyah Gate</a></h4>
						<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
						<a class="simple-btn-2" href="#">Read More<i class="far fa-chevron-double-right"></i></a>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6 md-mb-30">
					<div class="services__one-item3">
						<h4><a href="#">ROYAL COMMISSION RIYADH</a></h4>
						<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
						<a class="simple-btn-2" href="#">Read More<i class="far fa-chevron-double-right"></i></a>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="services__one-item4">
						<h4><a href="#">KING SALMAN PARK</a></h4>
						<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
						<a class="simple-btn-2" href="#">Read More<i class="far fa-chevron-double-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Services Area End -->

	<!-- Blog Area Start -->
	<div class="blog__one dark__image section-padding">
		<div class="container">
			<div class="row align-items-end mb-70">
				<div class="col-xl-7 col-lg-8 lg-mb-30">
					<div class="blog__one-title lg-t-center">
						<span class="subtitle-one">From the blog</span>
						<h2>News & Events</h2>
					</div>
				</div>
				<div class="col-xl-5 col-lg-4 t-right lg-t-center">
					<a class="btn-two" href="#">See more news<i class="far fa-chevron-double-right"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-4 col-lg-6 xl-mb-30">
					<div class="blog__one-item">
						<div class="blog__one-item-image">
							<a href="#"><img src="assets/img/blog/blog-1.jpg" alt=""></a>
							<div class="blog__one-item-image-date">
								<span class="text-three">23</span>
								<span class="text-five">Dec</span>
							</div>
						</div>
						<div class="blog__one-item-content">
							<h4><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit </a></h4>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-6 lg-mb-30">
					<div class="blog__one-item">
						<div class="blog__one-item-image">
							<a href="#"><img src="assets/img/blog/blog-2.jpg" alt=""></a>
							<div class="blog__one-item-image-date">
								<span class="text-three">20</span>
								<span class="text-five">Dec</span>
							</div>
						</div>
						<div class="blog__one-item-content">
							<h4><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-6">
					<div class="blog__one-item">
						<div class="blog__one-item-image">
							<a href="#"><img src="assets/img/blog/blog-3.jpg" alt=""></a>
							<div class="blog__one-item-image-date">
								<span class="text-three">17</span>
								<span class="text-five">Dec</span>
							</div>
						</div>
						<div class="blog__one-item-content">
							<h4><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit</a></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Blog Area End -->