<div class="page__banner" data-background="assets/img/sectors/company-banner.jpg" style="background-image: url(assets/img/sectors/company-banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__banner-content">
                    <span>COMPANY</span>
                    <ul>
                        <li><a routerLink="/home">Home</a><span>|</span></li>
                        <li>OUR COMPANIES</li>
                    </ul>
                    <h1>COMPANIES LIST</h1>
                </div>
            </div>
        </div>
    </div>
</div>	
    
    <!-- Services Details Start -->
    <div class="services__details section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 lg-mb-60">
                    <div class="services__details-left">
                        <div class="services__details-left-image dark__image">
                            <img src="assets/img/company/company5.jpg" alt="">
                        </div>
                        <div class="services__details-left-content">
                            <h2>Auto Gulf Company</h2>
                            <p class="mb-25">
                                Founded in 2012 by Al-Khaldi Holding Company, AGC has grown into a thriving
world of excellence and accomplishments, where customer satisfaction,
innovation, convenience, and vast product choice are the order of the day.
Based in Al Khobar, Saudi Arabia, AGC has had an immense success in carving its
name in the market since 2012, dealing with major clients and suppliers of
vehicles in the Gulf region and beyond, and continues to be a leading pioneer in
the full spectrum of the automotive business.
AGC’s primary goal is to provide clients with a one-stop convenience-based
platform for automotive services supporting various industries in respect of our
clients’ needs.
ACG’s substantial range of consultation and commercial services, divided amongst
numerous brands, offers clients a wide variety of solutions for their corporate and
commercial needs. Our product lines offer an unmatched selection of vehicular
products and auto services, ranging from industry grade specialized equipment to
latest, most luxurious premium vehicles.
At ACG, we strongly believe that partnering with an internationally renowned
industry leaders will definitely take successful business to even greater heights,
Thus, we are proud of our partnership with the most reliable automotive brands
in the world.
                            </p>                 
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-md-6 mb-30">
                                <div class="project__area-item">
                                    <img src="assets/img/company/company55.jpg" alt="">
                                    <div class="project__area-item-content">
                                        <h4><a href="#">Lorem Ipsum</a></h4>
                                        <span>Company Name</span>
                                    </div>                        
                                    <div class="project__area-item-icon">
                                        <a href="#"><i class="far fa-arrow-right"></i></a>
                                    </div>                                
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 md-mb-30">
                                <div class="project__area-item">
                                    <img src="assets/img/company/company555.jpg" alt="">
                                    <div class="project__area-item-content">
                                        <h4><a href="#">Lorem Ipsum</a></h4>
                                        <span>Company Name</span>
                                    </div>                        
                                    <div class="project__area-item-icon">
                                        <a href="#"><i class="far fa-arrow-right"></i></a>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                        <div class="row mt-70">
                            <div class="col-xl-12 t-center">
                                <a class="btn-one" routerLink="/">Visit Website<i class="far fa-chevron-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="all__sidebar">
                        <div class="all__sidebar-item">
                            <img src="assets/img/company/logo5.png" alt="" class="company-logo">  
                            <h4>Companies</h4> 
                            <div class="all__sidebar-item-solution">
                                <ul>                                    
                                    <li><a [routerLink]="['/companies']"><i class="far fa-chevron-double-right"></i>Al khaldi logistics company</a></li>
                                    <li><a [routerLink]="['/company2']"><i class="far fa-chevron-double-right"></i>Fuel way</a></li>
                                    <li><a [routerLink]="['/company3']"><i class="far fa-chevron-double-right"></i>Al Khaldi Real State</a></li>
                                    <li><a [routerLink]="['/company4']"><i class="far fa-chevron-double-right"></i>Al Khaldi Building Materials</a></li>
                                    <li><a [routerLink]="['/company5']" class="active"><i class="far fa-chevron-double-right"></i>Auto Gulf Company</a></li>
                                    <li><a [routerLink]="['/company6']"><i class="far fa-chevron-double-right"></i>Saudi Drill</a></li>
                                    <li><a [routerLink]="['/company7']"><i class="far fa-chevron-double-right"></i>Saudi Falcon</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="all__sidebar-item">
                            <h4>Download</h4>
                            <div class="all__sidebar-item-download">
                                <ul>                                    
                                    <li><a href="#"><img src="assets/img/icon/pdf.png" alt="">Our Brochures<i class="fal fa-arrow-to-bottom"></i></a></li>
                                    <li><a href="#"><img src="assets/img/icon/document.png" alt="">Company Details<i class="fal fa-arrow-to-bottom"></i></a></li>
                                </ul>                            
                            </div>
                        </div>
                        <div class="all__sidebar-help">
                            <div class="all__sidebar-help-image">
                                <img class="img__full" src="assets/img/pages/agc-help.jpg" alt="">
                                <div class="all__sidebar-help-image-content">
                                    <img src="assets/img/favicon-1.png" alt="">
                                    <h4>We're Always ready for help You</h4>
                                    <a class="btn-one" [routerLink]="['/contact']">Need Help<i class="far fa-chevron-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
    <!-- Services Details End -->    