<div class="page__banner" data-background="assets/img/team/team-banner.jpg" style="background-image: url(assets/img/team/team-banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__banner-content">
                    <span>Our Team</span>
                    <ul>
                        <li><a routerLink="/home">Home</a><span>|</span></li>
                        <li>Team</li>
                    </ul>
                    <h1>Team Members</h1>
                </div>
            </div>
        </div>
    </div>
</div>

	<!-- Team Page Area Start -->
    <div class="team__area section-padding dark__image">
        <div class="container">
            <div class="row">
				<div class="col-xl-4 col-lg-4 col-md-6 md-mb-30">
					<div class="team__area-item">
						<div class="team__area-item-image">
							<img src="assets/img/team/team-5.jpg" alt="">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro odit nostrum adipisci quis ea perferendis magni nihil reprehenderit iste aperiam animi nulla accusantium deleniti, asperiores, placeat cum ullam quasi natus!
							</p>
						</div>
						<div class="team__area-item-content page">
							<h5><a href="#">Abdul Moneim </a></h5>
							<span class="text-eight">Group HR Director</span>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 md-mb-30">
					<div class="team__area-item">
						<div class="team__area-item-image">
							<img src="assets/img/team/team-3.jpg" alt="">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro odit nostrum adipisci quis ea perferendis magni nihil reprehenderit iste aperiam animi nulla accusantium deleniti, asperiores, placeat cum ullam quasi natus!
							</p>
						</div>
						<div class="team__area-item-content page">
							<h5><a href="#">Moatasem Assaf</a></h5>
							<span class="text-eight">Group Financial Director</span>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 xl-mb-30">
					<div class="team__area-item">
						<div class="team__area-item-image">
							<img src="assets/img/team/team-4.jpg" alt="">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro odit nostrum adipisci quis ea perferendis magni nihil reprehenderit iste aperiam animi nulla accusantium deleniti, asperiores, placeat cum ullam quasi natus!
							</p>
						</div>
						<div class="team__area-item-content page">
							<h5><a href="#">Amir Samir </a></h5>
							<span class="text-eight">Development consultant</span>
						</div>
					</div>
				</div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 mt-30">
					<div class="team__area-item">
						<div class="team__area-item-image">
							<img src="assets/img/team/team-1.jpg" alt="">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro odit nostrum adipisci quis ea perferendis magni nihil reprehenderit iste aperiam animi nulla accusantium deleniti, asperiores, placeat cum ullam quasi natus!
							</p>
						</div>
						<div class="team__area-item-content page">
							<h5><a href="#">Anisa Bosa</a></h5>
							<span class="text-eight">Executive Secretarial</span>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 mb-30 mt-30">
					<div class="team__area-item">
						<div class="team__area-item-image">
							<img src="assets/img/team/team-6.jpg" alt="">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro odit nostrum adipisci quis ea perferendis magni nihil reprehenderit iste aperiam animi nulla accusantium deleniti, asperiores, placeat cum ullam quasi natus!
							</p>
						</div>
						<div class="team__area-item-content page">
							<h5><a href="#">Zaid Nasri</a></h5>
							<span class="text-eight">Group IT Manager</span>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 mb-30 mt-30">
					<div class="team__area-item">
						<div class="team__area-item-image">
							<img src="assets/img/team/team-7.jpg" alt="">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro odit nostrum adipisci quis ea perferendis magni nihil reprehenderit iste aperiam animi nulla accusantium deleniti, asperiores, placeat cum ullam quasi natus!
							</p>
						</div>
						<div class="team__area-item-content page">
							<h5><a href="#">Rajeh mohammed alrajeh</a></h5>
							<span class="text-eight">Legal advicer</span>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
	<!-- Team Page Area End -->
